body {
    /* background-color: aqua; */
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
p {
    letter-spacing: 1px;
}

/* Helper Classes start here*/
.container {
    margin: 0 auto;
    width: 85%;
}
.row {
    display: flex;
}
.col {
    display: inherit;
    flex: 1;
}
.sec-sv {
    padding: 100px 0px;
}
.btn {
    padding: 8px 12px;
    border-radius: 25px;
    border: 1px solid;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-radius-0 {
    border-radius: 0px;
}
.btn:focus {
    outline: none;
}

.btn-primary {
    background-color: transparent;
}
.btn-primary:hover {
    background-color: pink;
    color: red;
    border-color: pink;
}
.btn-primary:focus {
    background-color: blue;
    color: #fff;
    border-color: blue;
}

.btn-secondary {
    background-color: pink;
    color: red;
    border-color: pink;
}
.btn-secondary:hover {
    background-color: transparent;
    border-color: #333;
}
.btn-secondary:focus {
    background-color: blue;
    border-color: blue;
    color: #fff;
}
@media(max-width: 992px ){
    .row {
        flex-direction: column;
    }
}

/* Helper Classes end here*/

/* Slider section start here */
#section-slider {
    height: 100vh;
    background-image: url(./assets/img/4.jpg);

}
#section-slider .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
#section-slider .container {
    display: flex;
    height: 100%;
}
#section-slider .container .row {
    display: inherit;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#section-slider .container .row .content-box {
    width: 40%;
    text-align: center;
}

#section-slider .container .row .content-box h1 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 20px 0px;
    color: #fff;
}
#section-slider .container .row .content-box h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 42px;
    letter-spacing: 3px;
    margin: 0px;   
}
#section-slider .container .row .content-box h2 span {
    color: blueviolet;
}
#section-slider .container .row .content-box p {
    letter-spacing: 1px;
    padding: 20px 10px;
    color: #fff;
}
#freelance-available .content-dev{
 display: flex;
 flex-direction: column;
    align-items: center;
    width: 100%;
}
#freelance-available .content-dev button {
    margin-top: 20px;
}
/* Slider section end here */
/* Side Box */
.side-box {
    position: fixed;
    top: 40%;
    right: 0%;
    width: 30px;
    height: 30px;
    background-color: red;
}

/* About Section Start here */
#about-me {

}
#about-me .aboutme-content .social-icons ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
}
#about-me .aboutme-content .social-icons ul li {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid red;
    line-height: 25px;
    text-align: center;
    margin-right: 15px;
}

/* About Section End here */

#our-services {
    background-color: #ddd
}
#our-services .services-content{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#our-services .service-box-content{
    border: 1px solid red;
    padding: 30px;
    text-align: center;
    margin: 15px;
}

#our-services .service-box-content h3 { 
    letter-spacing:1px;
    text-transform: capitalize;
    padding: 10px 0px;
}
#our-services .service-box-content .line { 
    border-width: 3px;
    border-style: solid;
    width: 20%;
}
/* Our work section start here*/
#our-work {
    background-color: #ddd
}
#our-work .box{
    overflow: hidden;
    position: relative;
}
#our-work .box:before, .box:after{
    content: "";
    background: #34495e;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: all 0.35s 0s ease-out;
}
#our-work .box:hover:before{ bottom: 0; }
#our-work .box:after{
    opacity: 0.8;
    bottom: 0;
    top: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.35s 0.2s ease-in;
}
#our-work .box:hover:after{ top: 25%; }
#our-work .box img{
    width: 100%;
    height: auto;
}
#our-work .box .box-content{
    color: #fff;
    text-align: center;
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-55%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.35s 0.5s ease;
}
#our-work .box:hover .box-content{
    opacity: 1;
    transform: translateX(-50%) translateY(-40%);
}
#our-work .box .title{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}
#our-work .box .title:after{
    content: '';
    height: 1px;
    width: 100px;
    margin: 5px auto 3px;
    border-bottom: 1px dashed #fff;
    display: block;
    clear: both;
}
#our-work .box .post{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
}
#our-work .box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 2;
}
#our-work .box .icon li{
    margin: 0 3px;
    display: inline-block;
    opacity: 0;
    transition: all 0.4s ease 0.5s;
}
#our-work .box .icon li:nth-child(2){ transition-delay: 0.7s; }
#our-work .box:hover .icon li{ opacity: 1; }
#our-work .box .icon li a{
    color: #333;
    background-color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 31px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
#our-work .box .icon li a:hover{ box-shadow: 3px 3px rgba(255,255,255,0.5); }
@media only screen and (max-width:990px){
    #our-work .box{ margin: 0 0 30px; }
}
/* Our work section end here*/


#hover-box .box2{
    background: linear-gradient(transparent, #ff0043, #ff0043);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
}
#hover-box .box2:before{
    content: "";
    background: #fff;
    height: 30px;
    width: 0;
    border-radius: 0 50px 50px 0;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
#hover-box .box2:hover:before{
    width: calc(100% - 85px);
    opacity: 0.9;
}
#hover-box .box2 img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}
#hover-box .box2:hover img{ opacity: 0.6; }
#hover-box .box2 .box-content{
    color: #fff;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    transition: all 0.4s ease 0.2s;
}
#hover-box .box2:hover .box-content{
    opacity: 1;
    bottom: 25px;
}
#hover-box .box2 .title{
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
    margin: 0 0 7px;
}
#hover-box .box2 .post{
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}
#hover-box .box2 .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: all 0.3s ease 0.3s;
}
#hover-box .box2:hover .icon{
    opacity: 1;
    bottom: 22px;
}
#hover-box .box2 .icon li{
    margin: 0 3px;
    display: inline-block;
}
#hover-box .box2 .icon li a{
    color: #333;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 27px;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
#hover-box .box2 .icon li a:hover{
    color: #fff;
    background-color: #333;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.25);
}
@media only screen and (max-width:990px){
    #hover-box .box2{ margin: 0 0 30px; }
}


@media(max-width: 992px) {
    #our-services .service-box-content{ 
        margin: 15px auto;
    }
    #section-slider .container .row .content-box {
        width: 100%;
        text-align: center;
    }
}